In [ ]:
# Author : Mehdi Ammi, Univ. Paris 8

# Introduction to Pandas DataFrames

In this notebook, you'll learn how to leverage pandas' extremely powerful data manipulation engine to get the most out of your data. It is important to be able to extract, filter, and transform data from DataFrames in order to drill into the data that really matters. The pandas library has many techniques that make this process efficient and intuitive. You will learn how to tidy, rearrange, and restructure your data by pivoting or melting and stacking or unstacking DataFrames. These are all fundamental next steps on the road to becoming a well-rounded Data Scientist, and you will have the chance to apply all the concepts you learn to real-world datasets.

A detailed course on Pandas is given on : https://github.com/guiwitz/NumpyPandas_course.git

## Series in Pandas

A Series in Pandas is a one-dimensional array-like object that can hold various data types. It is similar to a column in a spreadsheet or a database table. Each Series has an associated array of labels, called its index.

### Loading Libraries

First, let's import the necessary libraries:

In [ ]:
import numpy as np
import pandas as pd

### Creating a Series

A Series can be created from different data structures like lists, NumPy arrays, and dictionaries.

Example 1: Creating a Series from a List

Let's create a Series using a simple list:

In [ ]:
labels = ['a', 'b', 'c']
my_list = [10, 20, 20]

# Creating a Series without specifying an index
pd.Series(data=my_list)

In [ ]:
>>
0    10
1    20
2    20
dtype: int64

### Creating a Series with Custom Index

We can also create a Series with a custom index:

In [ ]:
pd.Series(data=my_list, index=labels)

In [ ]:
>>
a    10
b    20
c    20
dtype: int64

### Creating a Series from a Dictionary

A dictionary can be directly converted into a Series, where keys become the index:

In [ ]:
d = {'a': 10, 'b': 20, 'c': 30}
pd.Series(data=d)

In [ ]:
>>
a    10
b    20
c    30
dtype: int64

### Creating a Series from a NumPy Array

Similarly, a NumPy array can be used to create a Series:

In [ ]:
arr = np.array([10, 20, 30])

pd.Series(data=arr)

In [ ]:
>>
0    10
1    20
2    30
dtype: int32

### Series with Custom Index

We can create a Series with custom indices, such as names of cities:

In [ ]:
series1 = pd.Series([1, 2, 3, 4], index=['Mombasa', 'Nakuru', 'Kisumu', 'Nairobi'])
series1

In [ ]:
>>
Mombasa    1
Nakuru     2
Kisumu     3
Nairobi    4
dtype: int64

### Access to elements

Now a given element can be accessed either by using its regular index:

In [ ]:
series1[0]

or its chosen index:

In [ ]:
series1['Mombasa']

### Operations with Series

Performing operations between two Series with non-aligned indexes results in NaN (Not a Number) for mismatched labels:

In [ ]:
series2 = pd.Series([1, 2, 3, 4], index=['Mombasa', 'Nakuru', 'Kis', 'Nairobi'])
series2

In [ ]:
>>
Mombasa    1
Nakuru     2
Kis        3
Nairobi    4
dtype: int64

### Adding Two Series

When adding two Series, if the indices are not aligned, the resulting Series will have NaN for those indices:

In [ ]:
series1 + series2

In [ ]:
>>
Kis        NaN
Kisumu     NaN
Mombasa    2.0
Nairobi    8.0
Nakuru     4.0
dtype: float64

## DataFrames in Pandas

A DataFrame in Pandas is a two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is one of the most widely used data structures for data manipulation and analysis.

### Loading Libraries

First, let's import the necessary libraries:

In [ ]:
import numpy as np
import pandas as pd
from numpy.random import randn

To automatically generate random values in a Pandas DataFrame, you can use the np.random.randn() function, which generates values according to a normal distribution. Here is an example of code to automatically generate a DataFrame :

In [ ]:
df = pd.DataFrame(np.random.randn(5, 4), index=['A', 'B', 'C', 'D', 'E'], columns=['W', 'X', 'Y', 'Z'])
df

In [ ]:
>>
          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Selection and Indexing

### Selecting a Column
You can select a single column from the DataFrame:

In [ ]:
df['W']

In [ ]:
>>
A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

### Selecting Multiple Columns

You can select multiple columns by passing a list of column names:

In [ ]:
df[['W', 'Z']]

In [ ]:
>>
          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

### Selecting a Row

You can select a row by its label using the .loc method:

In [ ]:
df.loc['A']

In [ ]:
>>
W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

### Creating a New Column

You can add new columns to the DataFrame:

In [ ]:
df['Sum'] = df['W'] + df['X'] + df['Y'] + df['Z']
df

In [ ]:
>>
          W         X         Y         Z       Sum
A  2.706850  0.628133  0.907969  0.503826  4.746778
B  0.651118 -0.319318 -0.848077  0.605965  0.089688
C -2.018168  0.740122  0.528813 -0.589001 -1.338233
D  0.188695 -0.758872 -0.933237  0.955057 -0.548357
E  0.190794  1.978757  2.605967  0.683509  5.459028

You can also add a column with random values:

In [ ]:
df['Random'] = randn(5)
df

          W         X         Y         Z       Sum    Random
A  2.706850  0.628133  0.907969  0.503826  4.746778  0.302665
B  0.651118 -0.319318 -0.848077  0.605965  0.089688  1.693723
C -2.018168  0.740122  0.528813 -0.589001 -1.338233 -1.706086
D  0.188695 -0.758872 -0.933237  0.955057 -0.548357 -1.159119
E  0.190794  1.978757  2.605967  0.683509  5.459028 -0.134841

### Accessing Specific Values

You can access specific values using the .iloc and .loc methods:

In [ ]:
# By integer location
df.iloc[2]

In [ ]:
>>
W        -2.018168
X         0.740122
Y         0.528813
Z        -0.589001
Sum      -1.338233
Random   -1.706086
Name: C, dtype: float64

In [ ]:
# By integer location of a specific value
df.iloc[2, 2]

In [ ]:
>>
0.5288134940893595

In [ ]:
# By label location
df.loc['B', 'X']

In [ ]:
>>
-0.31931804459303326

### Removing Columns and Rows

You can remove columns and rows using the .drop method.

In [ ]:
# Removing a Column
df.drop('Sum', axis=1)

In [ ]:
>>
          W         X         Y         Z    Random
A  2.706850  0.628133  0.907969  0.503826  0.302665
B  0.651118 -0.319318 -0.848077  0.605965  1.693723
C -2.018168  0.740122  0.528813 -0.589001 -1.706086
D  0.188695 -0.758872 -0.933237  0.955057 -1.159119
E  0.190794  1.978757  2.605967  0.683509 -0.134841

In [ ]:
## Removing a Row
df.drop('E', axis=0, inplace=True)
df

In [ ]:
>>
          W         X         Y         Z    Random
A  2.706850  0.628133  0.907969  0.503826  0.302665
B  0.651118 -0.319318 -0.848077  0.605965  1.693723
C -2.018168  0.740122  0.528813 -0.589001 -1.706086
D  0.188695 -0.758872 -0.933237  0.955057 -1.159119

### Copying DataFrames

You can create copies of DataFrame slices:

In [ ]:
df1 = df.loc['D']
df1

In [ ]:
>>
W         0.188695
X        -0.758872
Y        -0.933237
Z         0.955057
Random   -1.159119
Name: D, dtype: float64

### Dropping Columns

To drop a column from the DataFrame, you can use the drop method:

In [ ]:
df1 = df.drop(columns='Y')
df1

In [ ]:
>>
          W         X         Z    Random
A  2.706850  0.628133  0.503826  0.302665
B  0.651118 -0.319318  0.605965  1.693723
C -2.018168  0.740122 -0.589001 -1.706086
D  0.188695 -0.758872  0.955057 -1.159119

## Conditional Statement Selection

Using conditional statements, we can filter DataFrame values. For instance, we can check which values are greater than zero.

Example:

In [ ]:
df > 0

In [ ]:
>>
       W      X      Y      Z  Random
A   True   True   True   True    True
B   True  False  False   True    True
C  False   True   True  False   False
D   True  False  False   True   False

### Resetting the Index

To reset the index of a DataFrame to the default integer index (0, 1, 2, ...), we use the reset_index() method.

In [ ]:
df.reset_index()

In [ ]:
>>
  index         W         X         Y         Z    Random
0     A  2.706850  0.628133  0.907969  0.503826  0.302665
1     B  0.651118 -0.319318 -0.848077  0.605965  1.693723
2     C -2.018168  0.740122  0.528813 -0.589001 -1.706086
3     D  0.188695 -0.758872 -0.933237  0.955057 -1.159119

### Adding a Column

To add a new column, we can use the loc accessor. For example, let's add a column named 'state'.

In [ ]:
newId = 'DE AB CD EF EG'.split()
df.loc['state'] = newId
df

In [ ]:
>>
            W         X         Y         Z    Random
A    2.706850  0.628133  0.907969  0.503826  0.302665
B    0.651118 -0.319318 -0.848077  0.605965  1.693723
C   -2.018168  0.740122  0.528813 -0.589001 -1.706086
D    0.188695 -0.758872 -0.933237  0.955057 -1.159119
state      DE        AB        CD        EF        EG

### Setting a New Index

We can set a new index for the DataFrame using the set_index method.

In [ ]:
df.set_index('state', inplace=True)
df

In [ ]:
>>
            W         X         Y         Z    Random
state                                             
DE    2.706850  0.628133  0.907969  0.503826  0.302665
AB    0.651118 -0.319318 -0.848077  0.605965  1.693723
CD   -2.018168  0.740122  0.528813 -0.589001 -1.706086
EF    0.188695 -0.758872 -0.933237  0.955057 -1.159119
EG         DE        AB        CD        EF        EG

## Merging, Joining and Concatenation

We will explore how to merge, join, and concatenate DataFrames in Pandas. These operations are essential for combining data from multiple sources, similar to how you would perform operations in SQL.

Creating DataFrames

In [ ]:
import pandas as pd

# Creating the first DataFrame
df3 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

df3

In [ ]:
>>
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3

In [ ]:
# Creating the second DataFrame
df4 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

df4

In [ ]:
>>
    A   B   C   D
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

### Concatenation

Concatenation is used to append one DataFrame to another, either along rows or columns.

To concatenate df3 and df4 along rows:

In [ ]:
pd.concat([df3, df4])

In [ ]:
>>
    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  D2
3  A3  B3  C3  D3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  D6
7  A7  B7  C7  D7

To concatenate df3 and df4 along columns:

In [ ]:
pd.concat([df3, df4], axis=1)

In [ ]:
>>
    A   B   C   D    A   B   C   D
0  A0  B0  C0  D0  NaN NaN NaN NaN
1  A1  B1  C1  D1  NaN NaN NaN NaN
2  A2  B2  C2  D2  NaN NaN NaN NaN
3  A3  B3  C3  D3  NaN NaN NaN NaN
4 NaN NaN NaN NaN   A4  B4  C4  D4
5 NaN NaN NaN NaN   A5  B5  C5  D5
6 NaN NaN NaN NaN   A6  B6  C6  D6
7 NaN NaN NaN NaN   A7  B7  C7  D7

### Merging

The merge function allows you to merge DataFrames together using a key column, similar to SQL joins.

First, let's create two DataFrames with a common key column.

In [ ]:
# Creating the left DataFrame
left = pd.DataFrame({
    'key': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'D2', 'D3']
}, index=[0, 1, 2, 3])

left

In [ ]:
>>
   key   B   C   D
0   A0  B0  C0  D0
1   A1  B1  C1  D1
2   A2  B2  C2  D2
3   A3  B3  C3  D3

In [ ]:
# Creating the right DataFrame
right = pd.DataFrame({
    'key': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'D6', 'D7']
}, index=[4, 5, 6, 7])

right

In [ ]:
>>
   key   B   C   D
4   A0  B4  C4  D4
5   A1  B5  C5  D5
6   A2  B6  C6  D6
7   A3  B7  C7  D7

To perform an inner merge on the key column:

In [ ]:
pd.merge(left, right, how='inner', on='key')

In [ ]:
   key  B_x  C_x  D_x  B_y  C_y  D_y
0   A0   B0   C0   D0   B4   C4   D4
1   A1   B1   C1   D1   B5   C5   D5
2   A2   B2   C2   D2   B6   C6   D6
3   A3   B3   C3   D3   B7   C7   D7

## Data Input and Output

We will explore how to read data from various file formats into Pandas DataFrames, perform basic data exploration, and save DataFrames back to files. We will cover reading CSV files, Excel files, and HTML content, and demonstrate how to save data to CSV and Excel files.

### Loading a CSV File

We start by loading data from a CSV file using pd.read_csv.

Use the file upload widget in Google Colab to upload your CSV file. This will allow you to select a file from your computer.

In [ ]:
# Upload CSV file
from google.colab import files

uploaded = files.upload()

# Loading the CSV file
load_csv = pd.read_csv('cars.csv')

load_csv

In [ ]:
>>   
# Output will display the DataFrame content loaded from the CSV file

### DataFrame Shape

To get the shape (number of rows and columns) of the DataFrame:

In [ ]:
load_csv.shape

### Viewing the First Few Rows

To view the first five rows of the DataFrame (default) or specify the number of rows:

In [ ]:
load_csv.head()
load_csv.head(3)  # First three rows

## Viewing the Last Few Rows

To view the last five rows of the DataFrame:

In [ ]:
load_csv.tail()

### Statistical Summary

To get a statistical summary of the DataFrame:

load_csv.describe()

### Create a New DataFrame for the CSV

In [ ]:
# Create a new DataFrame with specific columns and additional calculations
new_df = pd.DataFrame()

# Example: Copy specific columns from the original DataFrame
new_df['Column1'] = load_csv['manufacturer']
new_df['Column2'] = load_csv['model']

print(new_df.head())

### Loading an Excel File

To load data from an Excel file:

In [ ]:
# Upload Excel file
from google.colab import files

uploaded = files.upload()

# Loading the Excel file
load_excel=pd.read_excel("cars.xlsx", sheet_name='Sheet1')

load_excel

### Loading HTML Content

To load data from an HTML table, we use pd.read_html.

In [ ]:
# A library for making HTTP requests to fetch content from the web.
import requests
#  A library for parsing HTML and XML documents.
from bs4 import BeautifulSoup
## Disable SSL verification
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

load_html = pd.read_html("https://www.must.ac.ke/kuccps-2019-admission-list-2/")
load_html

### Handling Missing Data in Pandas

In data analysis, missing data is a common issue that can significantly impact the results of your analysis. This section will cover various methods to handle missing data using Pandas, a powerful data manipulation library in Python.

### Identifying Missing Data

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
dataframe = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})
print(dataframe)

# Check for missing values
print(dataframe.isnull())

# Count of missing values per column
print(dataframe.isnull().sum())

# Total number of missing values
print(dataframe.isnull().sum().sum())

### Methods of Dealing with Missing Values

#### 1 Dropping Null Values

In [ ]:
# Dropping rows with any null values
print(dataframe.dropna())

# Dropping columns with any null values
print(dataframe.dropna(axis=1))

# Dropping rows with at least 2 non-null values
print(dataframe.dropna(thresh=2))

# Dropping columns with at least 2 non-null values
print(dataframe.dropna(thresh=2, axis=1))

In [ ]:
>>
     A    B  C
0  1.0  5.0  1
   C
0  1
1  2
2  5
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
     A  C
0  1.0  1
1  2.0  2
2  NaN  5

#### 2 Filling Null Values with a Specified Value

In [ ]:
# Filling null values with a specified value
print(dataframe.fillna(value=0.5))

In [ ]:
>>
     A    B  C
0  1.0  5.0  1
1  2.0  0.5  2
2  0.5  0.5  5

#### 3 Replacing Null Values with Mean, Median, or Mode

In [ ]:
# Sample DataFrame
dataframe2 = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})

# Replace null values with the mean
dataframe2['A'].fillna(value=dataframe2['A'].mean(), inplace=True)
print(dataframe2)

# Fill null values with a specified value
dataframe2['B'].fillna(value=2, inplace=True)
print(dataframe2)

# Replace null values with the median
dataframe2['A'].fillna(value=dataframe2['A'].median(), inplace=True)
print(dataframe2)

# Replace null values with the mode
dataframe2['A'].fillna(value=dataframe2['A'].mode()[0], inplace=True)
print(dataframe2)

In [ ]:
>>
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  1.5  NaN  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  2.0  2
2  1.5  2.0  5

#### 4 Interpolating Missing Values

In [ ]:
# Interpolating missing values linearly
print(dataframe2.interpolate())

# Interpolating missing values with a linear method
dataframe3 = pd.DataFrame({'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 5]})
print(dataframe3.interpolate(method='linear', order=1))

In [ ]:
     A    B  C
0  1.0  4.0  7
1  2.0  5.0  8
2  3.0  6.0  9
     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  5

#### 5 Forward and Backward Filling

In [ ]:
# Forward filling (last known value)
dataframe5 = dataframe3.ffill()
print(dataframe5)

# Backward filling (next known value)
dataframe6 = dataframe3.bfill()
print(dataframe6)

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  5
     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  5

# Excercices

## Exercice 1 : Creating and Modifying Series

Create a Pandas Series from a dictionary where keys are ['a', 'b', 'c'] and values are [100, 200, 300].

## Exercice 2 : Creating DataFrames

Create a DataFrame from the following data:

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Modify the code to add a new column D with values [10, 11, 12].

Drop column B from the DataFrame and display the result.

## Exercice 3 : DataFrame Indexing and Selection

Select column B from the following DataFrame:

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Modify the code to select both columns A and C.

Select the row with index 1 using the .loc method.

## Exercice 4 : Adding and Removing DataFrame Elements

Add a new column Sum to the DataFrame which is the sum of columns A, B, and C.

Remove the column Sum from the DataFrame.

Add a column Random with random numbers generated using numpy.

## Exercice 5 : Merging DataFrames

Merge the following two DataFrames on the key column:

In [ ]:
left:
   key  A  B
0    1  A1  B1
1    2  A2  B2
2    3  A3  B3

right:
   key  C  D
0    1  C1  D1
1    2  C2  D2
2    3  C3  D3

Modify the merge to use an outer join instead of an inner join.

Add a new column E to the right DataFrame and update the merge to include this new column.

## Exercice 6 : Data Cleaning

Replace all NaN values in the following DataFrame with the value 0:

In [ ]:
   A    B    C
0  1.0  NaN  3.0
1  NaN  5.0  6.0
2  7.0  8.0  NaN

Modify the code to replace NaN values with the mean of the column.

Drop rows where any value is NaN.

## Exercice 7 : Grouping and Aggregation

Group the following DataFrame by column Category and calculate the mean of column Value:

In [ ]:
   Category  Value
0         A      1
1         B      2
2         A      3
3         B      4
4         A      5
5         B      6

Modify the code to calculate the sum instead of the mean.

Group by Category and count the number of entries in each group.

## Exercice 8 : Pivot Tables

Create a pivot table from the following DataFrame, showing the mean Value for each Category and Type:

In [ ]:
   Category  Type  Value
0         A     X      1
1         A     Y      2
2         A     X      3
3         B     Y      4
4         B     X      5
5         B     Y      6

Modify the pivot table to show the sum of Value instead of the mean.

Add margins to the pivot table to show the total mean for each Category and Type.

## Exercice 9 : Time Series Data

Create a time series DataFrame with a date range starting from '2023-01-01' for 6 periods and random values.

Set the date column as the index of the DataFrame.

Resample the data to calculate the sum for each 2-day period.

## Exercice 10 : Handling Missing Data

Interpolate missing values in the following DataFrame:

In [ ]:
   A    B    C
0  1.0  NaN  3.0
1  2.0  5.0  NaN
2  NaN  8.0  9.0

Drop rows with any NaN values instead of interpolating.

## Exercice 11 : DataFrame Operations

Calculate the cumulative sum of the following DataFrame:

In [ ]:
   A  B  C
0  1  2  3
1  4  5  6
2  7  8  9

Calculate the cumulative product of the DataFrame.

Apply a function to subtract 1 from all elements in the DataFrame.